.Login-Container{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    padding :30px;
}

.Box{
 max-width: 350px;
 }
 h1{
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: 15px !important;
 }

 .password-input .css-1wc848c-MuiFormHelperText-root{
    color: red;
    text-decoration: underline;
 }

