.main-info{
    display: flex;
    width: 100%;
    align-items: center;
    height: 100vh;

}
.details-card{
    height: 300px;
    width: 55%;
    margin: auto;
}

.details-box{
    background-color: rgba(230, 230, 230, 0.449);
}
.details-title{
    font-size: 24px !important;
    font-weight: bold !important;
    margin: 15px 0 25px 0 !important;
}

.details-desc{
    margin-bottom: 15px!important;
}

.details-price{
    font-size: 25px !important;
    font-weight: 600 !important;
    margin-bottom: 10px!important;
}
.details-img{
    max-width: 50% ;
    object-fit: cover;
    max-height: 300px;
}
    @media (max-width:1200px) {
        .details-desc{
            font-size: 14px !important;
                }
    }

    @media (max-width:1024px) {
        .details-desc{
            font-size: 12px !important;
            margin-bottom: 10px!important;
        }
        .details-title{
            font-size: 20px !important;
            margin-top: 10px!important;
        }
    }
    @media (max-width:768px) {
        .details-card{
            flex-direction: column;
            height: auto;
        }
        .details-img{
                width: 100% !important;
                max-width: 100% !important;
            }
        }

    @media (max-width:560px) {
        .details-desc{
            font-size: 12px !important;
            margin-bottom: 10px!important;
        }
        .details-title{
          font-size: 18px !important;
        }
        .details-price{
            font-size: 18px !important;
           
        }
    }
    